.container {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    transition: .5s ease;
}
  
.container:hover .overlay {
    height: 100%;
}
  
.text {
    color: white;
    font-size: small;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.title {
    color: white;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media (min-width: 560px) and (max-width: 1200px) {
  
    /* CSS */

    .title {
        color: white;
        font-size: small;
        font-weight: bold;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .text {
        color: white;
        font-size: x-small;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
}

@media (max-width: 400px) {
  
    /* CSS */
    .title {
        color: white;
        font-size: large;
        font-weight: bold;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}