.teamTitle{
    margin-top: 3rem;
}

.teamContainer{
    margin-top: 2rem;
}

.lblName {
    margin-top: 1rem;
    /*margin-bottom: 1rem;*/
    font-size: large;
    font-weight: bold;
}

.lbl {
    /*
    font-size: large;
    font-weight: bold;
    margin-top: 0.05rem;
    */
    font-weight: 900;
    margin-bottom: 1rem;
}

.left {
    margin-right: 0.4rem;
}

section {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
 
section {
    display: block;
}
 