.CarouselDiv{
    height: 375px;
    width: 500px;
    align-self: center;
    align-content: center;
    margin-left: 35px;
}

.carCaption{
    color: white;
}

.carCaption:hover{
    color: rgb(188, 196, 206);
}

.carouselBackground{
    height: 100vh;
    width: 100%;
    position: absolute !important;
}

.carouselBackgroundItem{
    height: 100%;
}